@media (max-width: 600px) {
  .logo img {
    width: 80px;
    height: 40px;
  }

  .topnav a.logo {
    float: left;
    float: center;
  }

  .topnav a.secondary {
    color: #f2f2f2;
    padding: 15px 6px;
    text-decoration: none;
    font-size: 10px;
  }

  .dark-mode .popup .content {
    position: absolute;
    background: rgb(29, 29, 29);
    width: 200px;
    height: 450px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
  }

  .popup .content {
    position: absolute;
    background: rgb(29, 29, 29);
    width: 200px;
    height: 450px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
  }

  /*PS5Page*/
  .twitterps5,
  .twitterxsx,
  .twitterrat,
  .discord {
    border: none;
    background: none;
  }

  * {
    box-sizing: border-box;
  }

  td {
    text-align: center;
    border: 1px solid rgb(255, 0, 0);
  }

  .sitestatus {
    text-align: center;
    border: 1px solid rgb(0, 165, 0);
    padding: 5px;
  }

  .ps5status {
    text-align: center;
    border: 1px solid rgb(0, 165, 0);
    padding: 5px;
  }

  .xsxstatus {
    text-align: center !important;;
    border: 1px solid rgb(0, 165, 0) !important;
    padding: 5px !important;
  }


  /*PS5.HTML*/
  .amazondisc {
    border: 1px solid rgb(255, 0, 0);
  }

  .amazondigital {
    border: 1px solid rgb(255, 0, 0);
  }

  .targetdiscbundle {
    border: 1px solid rgb(255, 0, 0);
  }

  .sonydigitalbundle {
    border: 1px solid rgb(255, 0, 0);
  }

  .bigwdisc {
    border: 1px solid rgb(255, 0, 0);
  }

  .bigwdigital {
    border: 1px solid rgb(255, 0, 0);
  }

  .sonydiscbundle {
    border: 1px solid rgb(255, 0, 0);
  }

  .targetdisc {
    border: 1px solid rgb(255, 0, 0);
  }

  .targetdigital {
    border: 1px solid rgb(255, 0, 0);
  }

  .sonydigital {
    border: 1px solid rgb(255, 0, 0);
  }

  .sonydisc {
    border: 1px solid rgb(255, 0, 0);
  }

  .table th {
    font-family: arial;
  }

  .table td {
    font-family: arial;
  }

  .table a {
    font-family: arial;
    color: #000000;
    text-decoration: none;
  }

  .table h1 {
    font-size: 50px;
    padding: 1px 15px;
  }
}
