* {
  color: white !important;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white !important;
}

.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 139);
}

.logo img {
  width: 100px;
  height: 50px;
}

.topnav a.secondary:hover {
  background-color: black;
  color: white;
}

.topnav a.logo {
  float: left;
  color: white;
  float: center;
}
.title1,
.title2 {
  text-align: center;
  color: white;
}

.thebutton {
  text-decoration: none;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.dark-mode .thebutton {
  text-decoration: none;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.topnav a.secondary {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.welcome h4 {
  padding: 10px 0px;
}
.how-it-works a {
  text-align: center;
  font-family: arial;
  font-size: 20px;
}

table {
  border-collapse: separate;
  text-align: center;
  border-spacing: 20px 10px;
  margin-left: auto;
  margin-right: auto;
}

.twitterps5,
.twitterxsx,
.discord {
  border: none;
  background: none;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra a {
  text-align: right;
  font-family: arial;
  font-size: 20px;
  padding: 200px 295px;
}

.howitworks a {
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: underline;
  padding: 40px 0px;
}
.xboxtitle,
.ps5title,
.rattitle a {
  font-size: 40px;
  display: block;
  margin: auto;
  text-align: center;
}

.ps5title2 {
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
}
.ps5stats {
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
}

.linkstitle {
  font-size: 20px;
  display: block;
  margin: auto;
  text-align: center;
  padding: 40px 10px;
}

.copyright a {
  position: fixed;
  text-align: center;
  font-size: 10px;
  bottom: 0px;
  width: 100%;
}

.welcome h1 {
  text-align: center;
}

.welcome h4 {
  text-align: center;
}

.status a {
  text-align: center;
  font-size: 20px;
}

.statusmain a {
  text-align: right;
}

.switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 194);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode .btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: rgb(29, 29, 29);
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.dark-mode .popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgb(29, 29, 29);
  width: 450px;
  height: 280px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: rgb(255, 255, 255);
  width: 450px;
  height: 280px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 500ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.btn {
  -webkit-animation: btnWiggle 5s infinite;
  -moz-animation: btnWiggle 5s infinite;
  -o-animation: btnWiggle 5s infinite;
  animation: btnWiggle 5s infinite;
}
@-webkit-keyframes btnWiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  2% {
    -webkit-transform: rotate(-5deg);
  }
  3.5% {
    -webkit-transform: rotate(5deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-o-keyframes btnWiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  2% {
    -webkit-transform: rotate(-5deg);
  }
  3.5% {
    -webkit-transform: rotate(5deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes btnWiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  2% {
    -webkit-transform: rotate(-5deg);
  }
  3.5% {
    -webkit-transform: rotate(5deg);
  }
  5% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
